:root {
  --greenmain: rgba(0, 95, 95, 1);
  --blacksilver: rgba(201, 201, 201, 1);
  --blackmain: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --orangemain: rgba(253, 86, 0, 1);
  --subtitle-text-color: rgba(128, 128, 128, 1);
  --border: rgba(234, 234, 234, 1);
  --orangepumpkin: rgba(254, 105, 0, 1);
  --shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.15);
}
