.topics-concepts {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.topics-concepts .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1519px;
  height: 1024px;
  position: relative;
}

.topics-concepts .dashboard-header {
  display: flex;
  width: 1519px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px #00000014;
}

.topics-concepts .div-navbar-header {
  display: flex;
  width: 1519.2px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 11.99px 0px 0px;
  position: relative;
}

.topics-concepts .div-d-flex {
  position: relative;
  width: 650.11px;
  height: 70px;
}

.topics-concepts .div-navbar-brand-box {
  display: flex;
  width: 240px;
  align-items: flex-start;
  padding: 25.71px 117.79px 24.29px 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--greenmain);
}

.topics-concepts .component {
  position: relative;
  width: 101.81px;
  height: 20px;
  margin-right: -3.6px;
}

.topics-concepts .button {
  position: absolute;
  width: 56px;
  height: 70px;
  top: 0;
  left: 240px;
  object-fit: cover;
}

.topics-concepts .form {
  display: inline-flex;
  align-items: flex-start;
  padding: 16px 0px;
  position: absolute;
  top: 0;
  left: 296px;
}

.topics-concepts .div-position {
  position: relative;
  width: 228px;
  height: 38px;
}

.topics-concepts .overlap-group {
  position: relative;
  height: 38px;
  border-radius: 30px;
}

.topics-concepts .input {
  display: inline-flex;
  align-items: flex-start;
  padding: 9.4px 20px 8.6px 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f1f5f7;
  border-radius: 30px;
}

.topics-concepts .pseudo {
  display: flex;
  width: 168px;
  align-items: flex-start;
  padding: 0px 114px 0px 0px;
  position: relative;
}

.topics-concepts .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Nunito", Helvetica;
  font-weight: 400;
  color: #74788d;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
}

.topics-concepts .icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  left: 13px;
}

.topics-concepts .frame-wrapper {
  position: relative;
  width: 361.58px;
  height: 70px;
}

.topics-concepts .frame {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
  position: relative;
  left: 96px;
}

.topics-concepts .div-dropdown {
  position: relative;
  flex: 0 0 auto;
}

.topics-concepts .button-wrapper {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.topics-concepts .button-2 {
  display: inline-flex;
  align-items: flex-start;
  padding: 23px 12px 24.6px;
  position: relative;
  flex: 0 0 auto;
}

.topics-concepts .img {
  position: relative;
  width: 22px;
}

.topics-concepts .span-noti-dot {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 20px;
  left: 26px;
  background-color: #ff3d60;
  border-radius: 3px;
}

.topics-concepts .button-3 {
  position: relative;
  width: 121.2px;
  height: 70px;
  all: unset;
  box-sizing: border-box;
}

.topics-concepts .avatar-jpg {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 17px;
  left: 12px;
  border-radius: 18px;
  background-image: url(./img/avatar-2-jpg-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.topics-concepts .text-wrapper-2 {
  position: absolute;
  height: 22px;
  top: 22px;
  left: 55px;
  font-family: "Nunito", Helvetica;
  font-weight: 400;
  color: #636e75;
  font-size: 14.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21.6px;
  white-space: nowrap;
}

.topics-concepts .icon-2 {
  position: absolute;
  width: 14px;
  height: 22px;
  top: 22px;
  left: 95px;
}

.topics-concepts .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  position: absolute;
  top: 123px;
  left: 290px;
}

.topics-concepts .frame-3 {
  display: flex;
  flex-direction: column;
  width: 1179px;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}

.topics-concepts .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.topics-concepts .frame-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.topics-concepts .frame-5 {
  display: flex;
  flex-direction: column;
  width: 581.5px;
  align-items: flex-start;
  gap: 5px;
  position: relative;
}

.topics-concepts .item-menu {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  opacity: 0.5;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--blackmain);
  font-size: 14px;
  letter-spacing: 0.55px;
  line-height: 16.5px;
  white-space: nowrap;
}

.topics-concepts .item-menu-2 {
  position: relative;
  width: fit-content;
  opacity: 0.5;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--blackmain);
  font-size: 14px;
  letter-spacing: 0.55px;
  line-height: 16.5px;
  white-space: nowrap;
}

.topics-concepts .button-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 5px 20px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  background-color: var(--greenmain);
  border-radius: 6px;
  overflow: hidden;
  all: unset;
  box-sizing: border-box;
}

.topics-concepts .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.topics-concepts .printer {
  position: relative;
  width: 21px;
  height: 21px;
}

.topics-concepts .mask-group {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 284px;
}

.topics-concepts .lorem-ipsum-dolor {
  position: relative;
  flex: 1;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.topics-concepts .frame-6 {
  display: inline-flex;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  flex: 0 0 auto;
}

.topics-concepts .button-5 {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  padding: 14.78px 30.54px 15px 30.89px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--greenmain);
  border-radius: 6px;
  overflow: hidden;
  all: unset;
  box-sizing: border-box;
}

.topics-concepts .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.topics-concepts .arrow-right-outline {
  position: relative;
  width: 25px;
  height: 25px;
}

.topics-concepts .button-6 {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  padding: 14.78px 30.54px 15px 30.89px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--greenmain);
  all: unset;
  box-sizing: border-box;
}

.topics-concepts .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--greenmain);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.topics-concepts .icon-3 {
  position: relative;
  width: 21px;
  height: 19px;
}

.topics-concepts .dashboard-sidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 954px;
  align-items: flex-start;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: var(--greenmain);
}

.topics-concepts .frame-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.topics-concepts .frame-8 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.topics-concepts .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  opacity: 0.5;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--blacksilver);
  font-size: 11px;
  letter-spacing: 0.55px;
  line-height: 16.5px;
  white-space: nowrap;
}

.topics-concepts .item-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.topics-concepts .frame-9 {
  display: inline-flex;
  align-items: center;
  gap: 76px;
  position: relative;
  flex: 0 0 auto;
}

.topics-concepts .frame-10 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.topics-concepts .icon-4 {
  position: relative;
  width: 17.6px;
}

.topics-concepts .text-wrapper-7 {
  position: relative;
  width: 69.56px;
  height: 16px;
  margin-top: -0.2px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #8590a5;
  font-size: 13.3px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.topics-concepts .frame-11 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.topics-concepts .img-2 {
  position: relative;
  width: 17.6px;
  height: 17.6px;
}

.topics-concepts .text-wrapper-8 {
  position: relative;
  flex: 1;
  height: 16px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #d7e4ec;
  font-size: 13.3px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.topics-concepts .icon-5 {
  position: relative;
  width: 16px;
}

.topics-concepts .list {
  display: flex;
  flex-direction: column;
  width: 240px;
  align-items: flex-start;
  gap: 12.3px;
  padding: 6px 99.8px 6.3px 51.2px;
  position: relative;
  flex: 0 0 auto;
}

.topics-concepts .item-link-products {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #d7e4ec;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.topics-concepts .text-wrapper-9 {
  position: relative;
  flex: 1;
  height: 16px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #8590a5;
  font-size: 13.3px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.topics-concepts .frame-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.topics-concepts .text-wrapper-10 {
  position: relative;
  flex: 1;
  height: 16px;
  margin-top: -0.2px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #8590a5;
  font-size: 13.3px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.topics-concepts .item-link-2 {
  position: relative;
  width: 240px;
  height: 44.7px;
}

.topics-concepts .frame-13 {
  display: inline-flex;
  align-items: center;
  gap: 73px;
  position: relative;
  top: 10px;
  left: 24px;
}

.topics-concepts .text-wrapper-11 {
  position: relative;
  width: 75.7px;
  height: 16px;
  margin-top: -0.2px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #8590a5;
  font-size: 13.3px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}
