.forum-contribute {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.forum-contribute .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1519px;
  height: 1976px;
  position: relative;
}

.forum-contribute .dashboard-header {
  display: flex;
  width: 1519px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px #00000014;
}

.forum-contribute .div-navbar-header {
  display: flex;
  width: 1519.2px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 11.99px 0px 0px;
  position: relative;
}

.forum-contribute .div-d-flex {
  position: relative;
  width: 650.11px;
  height: 70px;
}

.forum-contribute .div-navbar-brand-box {
  display: flex;
  width: 240px;
  align-items: flex-start;
  padding: 25.71px 117.79px 24.29px 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--greenmain);
}

.forum-contribute .component {
  position: relative;
  width: 101.81px;
  height: 20px;
  margin-right: -3.6px;
}

.forum-contribute .button {
  position: absolute;
  width: 56px;
  height: 70px;
  top: 0;
  left: 240px;
  object-fit: cover;
}

.forum-contribute .form {
  display: inline-flex;
  align-items: flex-start;
  padding: 16px 0px;
  position: absolute;
  top: 0;
  left: 296px;
}

.forum-contribute .div-position {
  position: relative;
  width: 228px;
  height: 38px;
}

.forum-contribute .overlap-group {
  position: relative;
  height: 38px;
  border-radius: 30px;
}

.forum-contribute .input {
  display: inline-flex;
  align-items: flex-start;
  padding: 9.4px 20px 8.6px 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f1f5f7;
  border-radius: 30px;
}

.forum-contribute .pseudo {
  display: flex;
  width: 168px;
  align-items: flex-start;
  padding: 0px 114px 0px 0px;
  position: relative;
}

.forum-contribute .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Nunito", Helvetica;
  font-weight: 400;
  color: #74788d;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
}

.forum-contribute .icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  left: 13px;
}

.forum-contribute .frame-wrapper {
  position: relative;
  width: 361.58px;
  height: 70px;
}

.forum-contribute .frame {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
  position: relative;
  left: 96px;
}

.forum-contribute .div-dropdown {
  position: relative;
  flex: 0 0 auto;
}

.forum-contribute .div-2 {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.forum-contribute .button-2 {
  display: inline-flex;
  align-items: flex-start;
  padding: 23px 12px 24.6px;
  position: relative;
  flex: 0 0 auto;
}

.forum-contribute .img {
  position: relative;
  width: 22px;
}

.forum-contribute .span-noti-dot {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 20px;
  left: 26px;
  background-color: #ff3d60;
  border-radius: 3px;
}

.forum-contribute .button-3 {
  position: relative;
  width: 121.2px;
  height: 70px;
  all: unset;
  box-sizing: border-box;
}

.forum-contribute .avatar-jpg {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 17px;
  left: 12px;
  border-radius: 18px;
  background-image: url(./img/avatar-2-jpg-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.forum-contribute .text-wrapper-2 {
  position: absolute;
  height: 22px;
  top: 22px;
  left: 55px;
  font-family: "Nunito", Helvetica;
  font-weight: 400;
  color: #636e75;
  font-size: 14.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21.6px;
  white-space: nowrap;
}

.forum-contribute .icon-2 {
  position: absolute;
  width: 14px;
  height: 22px;
  top: 22px;
  left: 95px;
}

.forum-contribute .dashboard-sidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 1906px;
  align-items: flex-start;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: var(--greenmain);
}

.forum-contribute .div-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.forum-contribute .div-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.forum-contribute .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  opacity: 0.5;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--blacksilver);
  font-size: 11px;
  letter-spacing: 0.55px;
  line-height: 16.5px;
  white-space: nowrap;
}

.forum-contribute .item-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.forum-contribute .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 76px;
  position: relative;
  flex: 0 0 auto;
}

.forum-contribute .frame-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.forum-contribute .icon-3 {
  position: relative;
  width: 17.6px;
}

.forum-contribute .text-wrapper-4 {
  position: relative;
  width: 69.56px;
  height: 16px;
  margin-top: -0.2px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #8590a5;
  font-size: 13.3px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.forum-contribute .frame-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.forum-contribute .img-2 {
  position: relative;
  width: 17.6px;
  height: 17.6px;
}

.forum-contribute .text-wrapper-5 {
  position: relative;
  flex: 1;
  height: 16px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #8590a5;
  font-size: 13.3px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.forum-contribute .icon-4 {
  position: relative;
  width: 16px;
}

.forum-contribute .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.forum-contribute .text-wrapper-6 {
  position: relative;
  flex: 1;
  height: 16px;
  margin-top: -0.2px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #8590a5;
  font-size: 13.3px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.forum-contribute .item-link-2 {
  position: relative;
  width: 240px;
  height: 44.7px;
}

.forum-contribute .frame-6 {
  display: inline-flex;
  align-items: center;
  gap: 73px;
  position: relative;
  top: 10px;
  left: 24px;
}

.forum-contribute .text-wrapper-7 {
  position: relative;
  width: 75.7px;
  height: 16px;
  margin-top: -0.2px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 13.3px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.forum-contribute .frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  position: absolute;
  top: 120px;
  left: 290px;
}

.forum-contribute .item-menu {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  opacity: 0.5;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--blackmain);
  font-size: 14px;
  letter-spacing: 0.55px;
  line-height: 16.5px;
  white-space: nowrap;
}

.forum-contribute .frame-8 {
  display: inline-flex;
  align-items: flex-start;
  gap: 50px;
  position: relative;
  flex: 0 0 auto;
}

.forum-contribute .frame-9 {
  display: flex;
  flex-direction: column;
  width: 805px;
  align-items: flex-start;
  gap: 31px;
  position: relative;
}

.forum-contribute .tabs {
  display: inline-flex;
  height: 25px;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 5px;
  position: relative;
}

.forum-contribute .tab-button {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--orangemain);
  border-radius: 100px;
  overflow: hidden;
}

.forum-contribute .img-3 {
  position: relative;
  width: 12px;
  height: 12px;
}

.forum-contribute .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--white);
  font-size: 13px;
  letter-spacing: 0.65px;
  line-height: normal;
  white-space: nowrap;
}

.forum-contribute .tab-button-2 {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--border);
  border-radius: 100px;
  overflow: hidden;
}

.forum-contribute .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--subtitle-text-color);
  font-size: 13px;
  letter-spacing: 0.65px;
  line-height: normal;
  white-space: nowrap;
}

.forum-contribute .post-comments {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.forum-contribute .post-full {
  display: flex;
  width: 725px;
  align-items: flex-start;
  padding: 50px 40px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--shadow);
  flex-direction: column;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.forum-contribute .head {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 40px;
}

.forum-contribute .group {
  position: absolute;
  width: 127px;
  height: 32px;
  top: 4px;
  left: 55px;
}

.forum-contribute .time {
  position: absolute;
  height: 12px;
  top: 20px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--subtitle-text-color);
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: normal;
  white-space: nowrap;
}

.forum-contribute .nikcname {
  position: absolute;
  height: 15px;
  top: 0;
  left: 0;
  font-weight: 400;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 13px;
  letter-spacing: 0.65px;
  line-height: normal;
  white-space: nowrap;
}

.forum-contribute .ava {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.forum-contribute .feather-more {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 621px;
}

.forum-contribute .p {
  position: relative;
  align-self: stretch;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.forum-contribute .text-wrapper-10 {
  position: relative;
  align-self: stretch;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25px;
}

.forum-contribute .code {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--border);
  overflow: hidden;
}

.forum-contribute .group-2 {
  position: relative;
  width: 649px;
  height: 126px;
  margin-right: -4px;
}

.forum-contribute .text-wrapper-11 {
  position: absolute;
  width: 40px;
  top: 0;
  left: 0;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: #857857;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.28px;
  line-height: 18px;
}

.forum-contribute .package-mian-import {
  position: absolute;
  width: 605px;
  top: 0;
  left: 40px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--titel-text-color);
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 18px;
}

.forum-contribute .submenu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.forum-contribute .tags {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.forum-contribute .tag {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--border);
  border-radius: 5px;
  overflow: hidden;
}

.forum-contribute .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--subtitle-text-color);
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: normal;
  white-space: nowrap;
}

.forum-contribute .button-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--orangemain);
  border-radius: 6px;
  overflow: hidden;
  all: unset;
  box-sizing: border-box;
}

.forum-contribute .arrow-up {
  position: relative;
  width: 20px;
  height: 20px;
}

.forum-contribute .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.forum-contribute .text-wrapper-14 {
  position: relative;
  width: 161px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: var(--subtitle-text-color);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.9px;
  line-height: 25px;
}

.forum-contribute .suggest-block {
  display: flex;
  flex-direction: column;
  width: 720px;
  align-items: flex-end;
  gap: 10px;
  padding: 30px 40px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--white);
  box-shadow: var(--shadow);
}

.forum-contribute .input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.forum-contribute .input-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 33.9px;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid;
  border-color: #ced4da;
}

.forum-contribute .frame-10 {
  display: flex;
  flex-direction: column;
  width: 1180px;
  height: 20px;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 0px 0px 0px 8px;
  position: relative;
  top: 6px;
}

.forum-contribute .frame-11 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 396px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.forum-contribute .item-link-products-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 0px 0px 8px;
  position: relative;
  flex: 0 0 auto;
}

.forum-contribute .item-link-products {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #49505780;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.forum-contribute .button-5 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--greenmain);
  border-radius: 6px;
  overflow: hidden;
  all: unset;
  box-sizing: border-box;
}

.forum-contribute .message-square {
  position: relative;
  width: 19px;
  height: 18px;
}

.forum-contribute .element-level-comment {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  box-shadow: var(--shadow);
}

.forum-contribute .indicator {
  position: relative;
  align-self: stretch;
  width: 5px;
  background-color: var(--primary-2);
  opacity: 0.5;
}

.forum-contribute .content {
  display: flex;
  flex-direction: column;
  width: 720px;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 40px;
  position: relative;
}

.forum-contribute .head-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 32px;
}

.forum-contribute .ava-2 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 1px;
  left: 0;
}

.forum-contribute .name-time {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  top: 0;
  left: 40px;
}

.forum-contribute .nikcname-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0.65px;
  line-height: normal;
  white-space: nowrap;
}

.forum-contribute .time-2 {
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--subtitle-text-color);
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: normal;
  white-space: nowrap;
}

.forum-contribute .feather-more-2 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 7px;
  left: 622px;
}

.forum-contribute .text {
  position: relative;
  align-self: stretch;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 25px;
}

.forum-contribute .group-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--border);
  overflow: hidden;
}

.forum-contribute .group-3 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 18px;
  margin-right: -4px;
}

.forum-contribute .text-wrapper-15 {
  position: absolute;
  width: 600px;
  top: 0;
  left: 40px;
  font-family: "Droid Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--titel-text-color);
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 18px;
}

.forum-contribute .line {
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-top: -1px;
  height: 1px;
  object-fit: cover;
}

.forum-contribute .dlr {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 23px;
}

.forum-contribute .likes-dislikes {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.forum-contribute .dislikes {
  position: relative;
  width: 35px;
  height: 14px;
}

.forum-contribute .img-4 {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
}

.forum-contribute .text-wrapper-16 {
  position: absolute;
  top: 0;
  left: 19px;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: var(--subtitle-text-color);
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: normal;
  white-space: nowrap;
}

.forum-contribute .likes {
  position: relative;
  width: 28px;
  height: 14px;
  margin-right: -2px;
}

.forum-contribute .frame-12 {
  left: 449px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 0;
}

.forum-contribute .see-replies {
  display: inline-flex;
  align-items: flex-start;
  gap: 5px;
  padding: 10px 0px;
  position: relative;
  flex: 0 0 auto;
}

.forum-contribute .img-5 {
  position: relative;
  width: 14px;
  height: 14px;
}

.forum-contribute .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: var(--greenmain);
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: normal;
  white-space: nowrap;
}

.forum-contribute .replly {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 10px 0px;
  position: relative;
  flex: 0 0 auto;
}

.forum-contribute .indicator-2 {
  position: relative;
  align-self: stretch;
  width: 10px;
  background-color: var(--greenkeppel);
  opacity: 0.5;
}

.forum-contribute .content-2 {
  display: flex;
  flex-direction: column;
  width: 715px;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 40px;
  position: relative;
}

.forum-contribute .text-2 {
  align-self: stretch;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 25px;
  position: relative;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
}

.forum-contribute .span {
  font-weight: 500;
}

.forum-contribute .text-wrapper-18 {
  font-weight: 300;
}

.forum-contribute .dlr-2 {
  height: 26px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.forum-contribute .replly-2 {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 10px 0px;
  position: absolute;
  top: 1px;
  left: 586px;
}

.forum-contribute .nikcname-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
  position: absolute;
  top: 1px;
  left: 0;
}

.forum-contribute .nikcname-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 500;
  color: var(--subtitle-text-color);
  font-family: "Roboto", Helvetica;
  font-size: 13px;
  letter-spacing: 0.65px;
  line-height: normal;
  white-space: nowrap;
}

.forum-contribute .dislikes-2 {
  width: 42px;
  position: relative;
  height: 14px;
}

.forum-contribute .likes-2 {
  position: relative;
  width: 35px;
  height: 14px;
  margin-right: -2px;
}

.forum-contribute .frame-13 {
  left: 436px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 0;
}

.forum-contribute .dislikes-3 {
  width: 28px;
  position: relative;
  height: 14px;
}

.forum-contribute .frame-14 {
  left: 591px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 0;
}

.forum-contribute .right-panel-wrapper {
  display: flex;
  width: 324px;
  align-items: flex-start;
  gap: 8px;
  padding: 60px 0px 0px;
  position: relative;
}

.forum-contribute .right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 30px 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--white);
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--border);
  box-shadow: 0px 0px 5px #0000000d;
}

.forum-contribute .panel-section {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.forum-contribute .panel-title {
  position: relative;
  width: 230px;
  height: 28px;
}

.forum-contribute .group-4 {
  position: absolute;
  width: 130px;
  height: 18px;
  top: 0;
  left: 0;
}

.forum-contribute .text-wrapper-19 {
  position: absolute;
  height: 15px;
  top: 1px;
  left: 24px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0.65px;
  line-height: normal;
  white-space: nowrap;
}

.forum-contribute .img-6 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
}

.forum-contribute .line-2 {
  position: absolute;
  width: 230px;
  top: 27px;
  left: 0;
  height: 1px;
  object-fit: cover;
}

.forum-contribute .links {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.forum-contribute .text-wrapper-20 {
  width: 17px;
  height: 17px;
  color: var(--orangepumpkin);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.72px;
  line-height: 24px;
  white-space: nowrap;
  position: relative;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
}

.forum-contribute .text-wrapper-21 {
  position: relative;
  width: 213px;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--orangepumpkin);
  font-size: 11px;
  letter-spacing: 0.33px;
  line-height: 17px;
}

.forum-contribute .group-5 {
  position: absolute;
  width: 116px;
  height: 18px;
  top: 0;
  left: 0;
}
